
.en, .nb {display: none;}
.en:lang(en):not(.item), .nb:lang(nb):not(.item) { display:block; }

:root {
    --bodytext-color: #f2f2f2;
    --oslomet-red: #cc0909;
    --header-color: #161616;
    --background-color: #1B1B1B;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: var(--background-color);
    margin: 0;
    color: var(--bodytext-color);
    font-family: "Nimbus Sans", serif;
    text-align: center;
    font-size: 1.25rem;
}

hr {
    width: 80%;
    height: 0;
}

hr.hidden {
    clear: both;
    visibility: hidden;
}


/* Fonts */
@font-face {
    font-family: Maiden-Crimes;
    src: url(../font/Maiden-Crimes.otf);
}


/* === Main header element === */
header {
    overflow: hidden;
    background-color: var(--header-color);
}
header figure {
    margin: 0 1.5rem;
    padding: 1rem;
}
header figure a {
    float: left;
    display: flex;
    position: relative;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
header figure img {
    height: 4rem;
    width: auto;
    display: flex;
    float: left;
    position: relative;
    margin-bottom: 0.5rem;
}

/* OsloMet Gaming header title */
header .header-title {
    font-family: Maiden-Crimes, serif;
    color: var(--bodytext-color);
    padding: 0.75rem;
    line-height: 1.25rem;
}
header .header-title div span {
    color: var(--oslomet-red);
}
header .header-title div:nth-child(2) {
    letter-spacing: 0.32rem;
    padding-left: 0.25rem;
}

header #main {
    transition: margin-left .5s;
    padding: 16px;
}

/* Header language buttons */
header .langButtons {
    display: inline-flex;
    position: relative;
    transform: translateY(10%);
    right: 1.2rem;
    float: right;
}
header .langButtons .langNoButton {
    background-color: transparent;
    border: 0.13rem solid red;
    border-radius: 0.5rem;
    color: var(--bodytext-color);
    font-size: 1rem;
    margin-right: 0.2rem;
    cursor: pointer;
}
header .langButtons .langEnButton {
    background-color: transparent;
    border: 0.13rem solid red;
    border-radius: 0.5rem;
    color: var(--bodytext-color);
    font-size: 1rem;
    margin-left: 0.2rem;
    cursor: pointer;
}

/* === Header end === */

/* === Welcome component ===*/
main .welcome {
    position: relative;
    text-align: center;
    color: var(--bodytext-color);
}
main .welcome img{
    /*mask-image: linear-gradient(to right,black, transparent);*/
}
main a {
    color: red;
}

/* === Welcome end === */

/* === Footer === */
footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--header-color);
    width: 100%;
}
/* ! TODO: Socials text need fixing ! */
footer div.socials li {
    list-style-type: none;
    margin: 0.5rem;
}

/* === Footer end === */